@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

/* CARGANDO*/
body {
  font-family: "Roboto Condensed";
}

.fixed-nav .slimScrollDiv #side-menu{
  padding-bottom: 10px !important;
}

.is-readOnly {
  background-color: #f7f7f7 !important;

}

.icon_lsave {
  color: #fc7351;
}

.icon_lprint {
  /* color: #fc7351 */
}

.icon_lemail {
  color: #2196f3;
}

.el-autocomplete {
  width: 100% !important;
}

.el-autocomplete-suggestion {
  width: 400px !important;
}

.el-autocomplete-suggestion,
.el-dropdown-menu {
  z-index: 3000 !important;
}

.pointer {
  cursor: pointer;
}

.nav>li>a {
  font-family: "Roboto Condensed";
}

.fr {
  float: right !important;
}

.o-010 {
  opacity: 0.1;
}

.mb-5 {
  margin-bottom: 5px;
}

.w-100 {
  width: 100%;
}

.el-dialog__wrapper {
  z-index: 3000 !important;
}

.el-input__inner {
  background-color: white !important;
}

.print_btn {
  color: #6b6b6b;
}

.edit_btn {
  color: #ffc107;
}

.edit_btn:hover {
  color: #ffd860;
}

.create_btn {
  color: #439a46;
}

.create_btn:hover {
  color: #29b12e;
}

.delete_btn {
  color: #ff380b;
}

.delete_btn:hover {
  color: #f97e63;
}

table>thead>tr>th {
  font-weight: 200;
  font-size: 15px;
}

table>tfoot>tr>th {
  font-weight: 200;
  font-size: 15px;
}

label {
  font-weight: 300;
  color: #000000;
}

.mt-20 {
  margin-top: 20px;
}

.el-select-dropdown,
.el-picker-panel {
  z-index: 9999 !important;
}

.el-select,
.el-date-editor.el-input,
.el-date-editor {
  width: 100% !important;
}

.el-upload__input {
  visibility: hidden;
}

.m5 {
  margin: 5px;
}

.nav-second-level li a {
  font-size: 15px;
}

.nav>li>a {
  font-size: 15px;
  font-weight: 100;
}

.nav-second-level li a {
  padding-left: 20px;
}

#pre-load-web {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100000;
  background: rgba(255, 253, 250, 0.2);
}

/*aqui centramos la imagen si coloco margin left -30 es por que la imagen mide 60 */

#pre-load-web #imagen-load {
  left: 50%;
  margin-left: -30px;
  position: absolute;
}

.sk-spinner-wave.sk-spinner {
  height: 100px;
  width: 100%;
}

.sk-spinner-wave div {
  height: 100px;
  width: 15px;
  margin: 1px;
  background-color: #f7a54a;
}

/* FIN CARGANDO */
.ibox-title h5 {
  font-size: 20px;
  margin-bottom: 0px;
}

table.table td a {
  margin: 0 5px;
}

table.table td a.view {
  width: 30px;
  height: 30px;
  color: #2196f3;
  border: 2px solid;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

table.table td a.view i {
  font-size: 22px;
  margin: 2px 0 0 1px;
}

.swal2-container {
  z-index: 99999 !important;
}

/*estilo grande para el sweet alert2*/

.swal2-popup {
  font-size: 1.2em !important;
}

.btn,
.btn-xs {
  font-size: 15px !important;
}

#require {
  color: red;
}

.page-heading {
  font-family: "Russo One", sans-serif;
}

.wrapper-content {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.corloError {
  color: #d43f3a;
  background-color: #d43f3a;
  font-size: 15px !important;
}

.ibox-content {
  background-color: mintcream !important;
}

.note-editable,
.chosen-container-single {
  background-color: #fff;
}

#campoObligatorio {
  color: red;
}

#asterisco {
  color: red;
}

/* STYLE VUE-SELECT */

.v-select {
  background-color: #ffffff;
}

.v-select .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
  border-bottom: none;
}

.v-select .dropdown li a {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.25em;
  color: #3c3c3c;
}

.v-select .dropdown-menu .active>a {
  color: #fff;
}

.dropdown-toggle>input[type="search"] {
  width: 100px !important;
}

.dropdown-toggle>input[type="search"]:focus:valid {
  width: 100% !important;
}